/* Mobile Screen */
.Nav {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: aquamarine;
}
.Nav_active {
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
}
.logo_img {
  float: left;
  border-radius: 50%;
}
.nav_item {
  width: 5vh;
  height: 5vh;
}
.menu_icon_active {
  display: none;
}
.menu_icon {
  float: right;
  cursor: pointer;
}
.hide_menu_icon_active {
  display: block;
  float: right;
  cursor: pointer;
}
.hide_menu_icon {
  display: none;
}
.nav_menu {
  display: none;
  z-index: 100;
}
.nav_menu_active {
  display: flex;
  flex-direction: column-reverse;
  background-color: blue;
  z-index: 100;
}
.change_link_container {
  order: 2;
}
.fixed_link_container {
  order: 3;
  border-bottom: 0.5px solid black;
}
.nav_link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  height: 2vh;
}

.nav_link:active {
  background-color: bisque;
  color: black;
}

.nav_submenu_container {
  display: flex;
  flex-direction: column-reverse;
}

.nav_submenu {
  display: none;
}

.nav_submenu_active {
  display: flex;
  flex-direction: column-reverse;
  background-color: beige;
}

.nav_submenu_active a {
  color: black;
}


/* Tablet Screen */
@media screen and (min-width: 426px) {
  .Nav {
    flex-direction: none;
    position: relative;
    height: 5vh;
  }
  .Nav_active {
    height: auto;
    max-height: unset;
    overflow-y: unset;
  }
  .nav_icon_container {
    display: flex;
    justify-content: center;
  }
  .menu_icon {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .hide_menu_icon_active {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .nav_menu {
    position: absolute;
    flex-direction: column;
    display: flex;
    top: 5vh;
    left: 0;
    margin-left: -30vw;
    height: 100vh;
    width: 30vw;
    background-color: chartreuse;
    z-index: 100;
  }
  .nav_menu_active {
    margin-left: 0vw;
  }
  .change_link_container {
    order: 3;
    display: flex;
    flex-direction: column;
  }
  .fixed_link_container {
    order: 2;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
  }
  .nav_link {
    width: auto;
  }
  .nav_submenu_container {
    flex-direction: column;
  }
  .nav_submenu_active {
    flex-direction: column;
  }
}

/* Desktop Screen */
@media screen and (min-width: 769px) {
  .Nav {
    flex-direction: row;
    justify-content: center;
    position: static;
    height: auto;
    padding-top: 1vh;
    align-items: center;
  }
  .nav_icon_container {
    display: block;
    justify-content: unset;
    width: fit-content;
    margin: 1vw;
  }
  .nav_item {
    width: 8vh;
    height: 8vh;
  }
  .menu_icon {
    display: none;
  }
  .hide_menu_icon_active {
    display: none;
  }
  .nav_menu {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
      'search search search . . . .'
      'fixed fixed fixed . change change change';
    position: static;
    margin: 0vw;
    height: auto;
    width: auto;
    background-color: unset;
  }
  .change_link_container {
    grid-area: change;
    display: flex;
    flex-direction: row;
  }
  .fixed_link_container {
    grid-area: fixed;
    display: flex;
    border-bottom: unset;
    flex-direction: row;
  }
  .nav_link {
    width: auto;
    flex-direction: row;
    color: black;
  }
  .nav_link:hover {
    background-color: lightcoral;
  }
  .nav_submenu_container {
    flex-direction: column;
    position: relative;
  }
  .nav_submenu {
    display: none;
  }
  .nav_submenu_active {
    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: fit-content;
    max-height: 70vh;
  }
  .nav_submenu_active .nav_link {
    width: 100%;
    color: black;
    background-color: beige;
  }
  .nav_submenu_active .nav_link:hover {
    color: whitesmoke;
    background-color: purple;
  }
}