* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: unset;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #0f1927, #192B43);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Mobile Screen */
@media screen and (max-width: 426px) {
  body {
    background-image: linear-gradient(to bottom, #192B43, #192B43);
  }
}
