.searchbar {
  grid-area: search;
  display: grid;
  vertical-align: middle;
  grid-template-columns: auto 10%;
  background-color: white;
  border-radius: 25px;
}

.searchbar .searchInput {
  border-color: transparent;
  background-color: rgb(255, 255, 255, 0);
  height: inherit;
  outline: none;
}

.searchbar .searchIcon {
  height: inherit;
  margin: auto;
  cursor: pointer;
}

.searchbar .searchIcon:active {
  height: 70%;
}