.searchbar {
  grid-area: searchbar;
  vertical-align: middle;
  display: grid;
  grid-template-columns: auto 40px;
  background-color: white;
  grid-gap: 10px;
  padding: 0px 10px;
}

.searchbar .searchInput {
  border-color: white;
  background-color: white;
  height: inherit;
}

.searchbar .searchIcon {
  height: inherit;
  margin: auto;
}

.searchbar .searchInput:focus {
  outline: none;
}