.app_details_page_container {
  margin: 5rem auto;
  width: 900px;
  padding: 50px;
  border-top: 1px solid rgb(20, 161, 234);
  background-image: linear-gradient(rgba(20, 161, 234, 0.5), rgba(20, 161, 234, 0.05),rgba(20, 161, 234, 0));
}
.app_details_page_about {
  color: white;
}